.chats {
    width: 100%;
    max-width: 700px;
    height: 100%;
    overflow-y: auto;
    padding: 2rem 1rem;

    scrollbar-width: none;
}

.chats::-webkit-scrollbar {
    display: none;
}


.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    max-width: 500px;
    width: fit-content;
    word-wrap: break-word;
}


.hljs {
    border-radius: 14px !important;
}


pre {
    white-space: pre-wrap;
    overflow-x: auto;
}


/* ===================== */
/* Tablet */
/* ===================== */

@media(max-width:900px){

    .chats {
        max-width: 600px;
        padding: 2rem 1.5rem;
    }


    .userMessage {
        max-width: 400px;
    }

}


/* ===================== */
/* Mobile */
/* ===================== */

@media(max-width:600px){

    .chats {
        width: 100%;
        padding: 1rem;
    }


    .userMessage {
        max-width: 85%;
        padding: 10px 15px;
        font-size: 14px;
    }


    .gptDiv,
    .userDiv {
        font-size: 14px;
    }


    pre {
        font-size: 12px;
    }

}